
body
{
    font-family: sans-serif;
    background-color: #ffffff;
}

a:link, a:visited
{
    color: #0000ff;
}

a:hover
{
    color: #aaaaff;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

th, td
{
    border: 1px solid #98bf21;
}

th
{
    padding: 5px;
    background-color: #A7C942;
    color: #ffffff;
}

td
{
    padding: 2px;
}

tbody tr:nth-child(odd)
{
    background-color: #EAF2D3;
}

.right-float
{
    float: right;
}

.toolbar
{
    margin: 5px;
}

.form-row
{
}

.form label
{
    display: inline-block;
    width: 200px;
}

#header
{
    background-color: #98bf21;
    color: white;
    margin: 0px;
    padding: 2px;
}

#header h1
{
    margin: 0px;
}

#logo
{
    color: white;
    text-decoration: none;
}

#menu
{
    background-color: #EAF2D3;
    color: green;
    padding: 2px;
    margin-bottom: 1px;
}

#content
{
    margin: 20px;
}

#footer
{
    color: gray;
    margin-top: 15px;
    font-style: italic;
    text-align: center;
}
